/* .textlogo{
  margin-left: 100px
} */

.bkpurp{
  background-color: #321777
}

.textlogo{

  max-width: 100px;
}

.headerlogo{
  max-width: 100px;
}

.call {
  cursor: pointer;
}

.bottom {

  position:absolute;
  left:0;
  bottom:0;
  right:0;

}

.fab {
  margin: 5px;
}
